<div class="panel">
	{{> panelHeader title="Save Changes" }}
	<div class="content">
		<input class="right" type="submit" value="Save Changes" />
		<input class="right" type="reset" value="Reset" />
	</div>
</div>
