### All environment variables are REQUIRED, unless specified otherwise.

# The path to your SQLite database where all your tracking data is stored
# Keep this safe and backed up!
EVERYTHING_SQLITE_LOCATION="/path/to/everything.db"

# External - public facing API
# Port forward or reverse proxy this port to have the public view accessible.
EVERYTHING_SERVER_PORT_EXTERNAL=3000

# Internal - private API for personal management of the database.
# Do NOT port forward or reverse proxy this API, as it is not password
# protected.
EVERYTHING_SERVER_PORT_INTERNAL=3001

# The URL at which the external server is accessible from.
# Be sure to take into account a reverse proxy, if you are using one. Rather
# than an IP address and port, it may likely be available at a specific domain.
# Note: Please DO NOT add a trailing slash
EVERYTHING_SERVER_EXTERNAL_URI="http://localhost:3000"

# Similar to the variable above, this is the URL pointing to the internal server
# and, as previously mentioned, should only be accessible behind a firewall, and
# NOT accessible to the internet.
EVERYTHING_SERVER_INTERNAL_URI="http://localhost:3001"

## Cache file paths

# By default, cache JSON files are created in the `data/` folder. These are
# typically used for external services, to keep track of what has and hasn't
# already been tracked in the database. You probably don't need to change these.
EVERYTHING_GEOCODER_CACHE_PATH="data/geocoder.json"
EVERYTHING_GOOGLE_TOKENFILE="data/google-tokens.json"
EVERYTHING_LETTERBOXD_DATA_FILE="data/letterboxd.json"
EVERYTHING_STEAM_DATA_FILE="data/steam-activity.json"
EVERYTHING_PSN_DATA_FILE="data/psn-activity.json"
EVERYTHING_BLUESKY_DATA_FILE="data/bluesky.json"
EVERYTHING_SWARM_DATA_FILE="data/swarm.json"

## Other Bits

# Set the system timezone.
# Optional by default, BUT necessary if you're using Docker.
TZ="Europe/London"

# Used in `test/Requests.http` and nothing else.
# Generate an API key for a device and plug it here, if you wish to test the API
# using the endpoints in that file.
EVERYTHING_TEST_APIKEY=""
