{{> pageHeader title="Films Watched" url="/" }}

{{#if rescanerror }}
<div class="error panel margin">
	<div class="content">
		🛑 <strong>Did not rescan Letterboxd.</strong>
	</div>
</div>
{{/if}}

{{#if hasLetterboxdConnected}}
<form action="/films/rescan" method="POST" class="margin">
	<div class="panel info">
		{{> panelHeader title="manually rescan films from Letterboxd" }}
		<div class="content">
			<input type="submit" value="Rescan" id="rescan" />
		</div>
	</div>
</form>
{{/if}}

{{> internal/film }}

{{#each films as |film| }}
	{{> internal/film data=film page=../page }}
{{/each}}

{{> pagination route="/films" pagination=pagination }}
