{{> pageHeader title=title url=backUrl }}

{{#if session}}
	<div class="panel info">
		<div class="content">
			Editing <strong>{{achievements.length}}</strong>
			achievements for <strong>{{session.name}}</strong>
			session, which lasted <strong>{{session.duration}}</strong>.
		</div>
	</div>
	<br>
{{/if}}

{{> internal/game-achievement session_id=id game_id=game.id }}

{{#each achievements as |achievement| }}
	{{> internal/game-achievement session_id=../id data=achievement }}
{{/each}}
