{{#if error}}
<div class="rounded-panel error margin">
	<strong>{{error}}</strong>
</div>
{{/if}}

<div class="panel margin">
	{{> panelHeader title="setup required" }}

	<div class="content" id="setup-page">
		<p>
			Hello, to start using <em>Everything</em>, please add at least one
			device to your database, using the form below.
		</p>

		<hr>

		<form method="post" action="/setup">
			<div class="row">
				<div class="left">👤</div>
				<div class="right">
					<p><strong>Your Name</strong></p>
					<p>The title that appears at the top of each page.</p>
					<input class="right" type="text" id="name" name="name" placeholder="Your Name" />
				</div>
			</div>

			<div class="row">
				<div class="left">📱</div>
				<div class="right">
					<p><strong>Device Name</strong></p>
					<p>A short description you can use to identify this device (eg. "iPhone", "PC").</p>
					<input class="right" type="text" id="description" name="description" placeholder="Device Name" />
				</div>
			</div>

			<div class="row">
				<div class="left">🔑</div>
				<div class="right">
					<p><strong>Password / API key</strong></p>
					<p>A long, secure password used to track data via the external API.</p>
					<input class="right" type="password" id="apiKey" name="apiKey" placeholder="Password / API Key" />
				</div>
			</div>

			{{> internal/crudSubmit }}
		</form>
	</div>
</div>
