<div class="panel margin">
	{{> panelHeader title="recently read books" url="/" }}
	<div class="content">
		{{#each books as |book|}}
			{{> book data=book }}
		{{/each}}
	</div>
</div>

{{> pagination pagination=pagination route="/books" }}
