<div class="page--data">
	{{> pageHeader title="Check-ins" url="/" }}

	{{#each checkins as |checkin|}}
		{{> checkin data=checkin }}
	{{/each}}

	{{> pagination pagination=pagination route="/checkin" }}
</div>
