<div class="panel error margin">
	<div class="header">
		<div class="icon">⛔</div>
		<h2 class="title">Error: {{error}}</h2>
	</div>

	<div class="content">
		Unfortunately, whatever you are looking for didn't work or
		doesn't exist here. Have you considered going back to
		<a href="/"><strong>the homepage</strong></a>?
	</div>
</div>
