<div class="panel margin">
	<div class="header">
		<a href="/notes">&lt;- back</a>
		<h2 class="title">{{#if note.title}}{{note.title}}{{else}}i wrote this note for you{{/if}}</h2>
	</div>
	<div class="content">
		{{> note data=note hidetitle=true }}
	</div>
</div>
