<div class="panel margin">
	{{> panelHeader title="i wrote you some notes" url="/" }}
	<div class="content">
		{{#each notes as |note|}}
			{{> note data=note }}
		{{/each}}
	</div>
</div>

{{> pagination pagination=pagination route="/notes" }}
