<div class="panel margin">
	{{> panelHeader title="recently watched tv shows" url="/" }}
	<div class="content">
		{{#each episodes as |episode|}}
			{{> tv data=episode }}
		{{/each}}
	</div>
</div>

{{> pagination pagination=pagination route="/tv" }}
